* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 47px;
    margin-left: 80px;
}

.link-header {
    margin-right: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.875px;
    color: #17233D;
}

.button-header:hover {
    background-color: #7c7c7c6b;
}

.button-header {
    background: #6FBF44;
    border-radius: 6px;
    height: 51px;
    width: 124px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    border-color: #4CB538;
}

.image {
    width: 500px;
    height: 450px;
    margin-top: 194px;
    margin-left: 121px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 96.83px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    margin-top: 250px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    height: 99px;
    width: 493px;
    margin-top: 80px;
    margin-bottom: 75px;
}

button {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #6FBF44;
    border-color: #6FBF44;
    border-radius: 6px;
    padding: 15px;
}

button:hover {
    background-color: #7c7c7c6b;
}

@media screen and (max-width: 900px) {
    .link-header {
        display: none;
    }

    .button-header {
        margin: 17px 15px 0 700px;
        width: 91px;
        height: 31px;
        font-size: 10px;
        line-height: 3px;
    }

    h1 {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.596154px;
        color: #161A49;
        margin-top: 100px;
        margin-left: 57px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #4B505A;
        margin-top: 29px;
        margin-bottom: 26px;
    }

    button {
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 1px;
        color: #ffffff;
        margin-left: 200px;
        width: 91px;
        height: 50px;
        line-height: 10px;
    }

    .image {
        width: 312px;
        height: 288px;
        position: absolute;
        top: 40%;
        margin-left: 200px;

    }

}